    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                   {% for item in menu.get_items %}
                        <li class="{{item.classes | join(' ')}}">
                            {% if item.get_children %}
                            <a class="dropdown-toggle" data-toggle="dropdown" href="{{item.url}}">{{item.title}} <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                  {% for child in item.get_children %}
                                    <li><a href="{{child.url}}">{{child.title}}</a></li>
                                  {% endfor %}
                                </ul>
                             {% else %}
                             <a href="{{item.url}}">{{item.title}}</a>
                             {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </nav>